<!DOCTYPE html>

<head>
    <title>Live NodeJS Assignment - John V</title>
    <link href="./css/style.css" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
</head>

<body>
    <div class="header">
        <img src="./img/Voltindustri-Logo.png" class="siteLogo" />
    </div>